<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Cписок комментариев</title>
</head>
<body>
    <h2>Комментарии</h2>
    {% if comment_list %}
    <ul>
        {% for comment in object_list %}
        <li>
            <p>
                Комментарий: {{comment}}, автор:{{comment.author}}
            </p>

            <form method="get" action='/comment/{{comment.id}}'>
                <button type="submit">Удалить</button>
            </form>

        </li>
        {% endfor %}
    </ul>
    {% else %}
        <p>Объявлений нет</p>
    {% endif %}
</body>
</html>