<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Новости</title>
</head>

<body>
    <h2>{{object.name}}</h2>
    <p>
        {{object.text_news}}<br>
    </p>
    <p>
        Cтатус: {{object.status}}<br>
        Дата создания: {{object.created_news}}<br>
        Дата редактирования: {{object.update_news}}<br>
    </p>


    <p>Комментарии:</p>

        {% for comment in object.comments_news.all %}
            {% if comment.author == None %}
                Комментарий от: {{comment.name}}<br>
            {% else %}
                Комментарий от: {{comment.author}}<br>
            {% endif %}
            Текст комментария: {{comment.text_comment}}<br><br>
        {% endfor %}

        <form method="post" action={{messages.id}}>
            {% csrf_token %}
            {{ form.as_p }}<br>
            <button type="submit">Добавить</button>
        </form>


</body>
</html>
