<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список новостей</title>
</head>
<body>
    <h2>Оглавление</h2>
    {% if news_list %}
        <ul>
            {% for new in object_list %}
            <p>
                <a href="news_detail/{{new.id}}">{{new}}</a>
            </p>
            <form method="get" action='update_news/{{new.id}}'>
                {% csrf_token %}
                <button type="submit">Редактировать</button>
            </form>
            {% endfor %}
        </ul>
    {% else %}
        <p>Объявлений нет</p>
    {% endif %}

</body>
</html>