<html>
    <meta charset="utf-8">
    <h3>"Бесплатные объявления"</h3>
    {% if advertisements %}
    <ul>
        {% for advertisement in advertisements %}
        <li>
            {{advertisement.title}}, цена - {{advertisement.price}} рублей
            <p>
                Дата создания: {{advertisement.created_at}}<br>
                Дата изменения: {{advertisement.updated_at}}<br>
                Количество просмотров: {{advertisement.views_count}}
            </p>

        </li>
        {% endfor %}

    </ul>
    {% else %}
    <p>"Объявлений нет."</p>
    {%endif%}
</html>