<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Редактирование профиля</title>
</head>
<body>
    <h3>Редактировать профиль:</h3>
        <form method="post">
            {% csrf_token %}
            <h4><em>{{no_valid}}</em></h4>
            {% if user_superuser_flag %}
                <p>Имя пользователя - {{ user_form.username }}</p>
                <p>Фамилия пользователя - {{ user_form.last_name }}</p>
                <p>Город проживания - {{ profile_form.city }}</p>
                <p>Номер телефона - {{ profile_form.phone_number }}</p>
                <p>Флаг верификации - {{ profile_form.verification_flag }}</p>
                <p>Флаг супер юзера - {{ profile_form.superuser_flag }}</p>
            {% else %}
                <p>Имя пользователя - {{ user_form.username }}</p>
                <p>Фамилия пользователя - {{ user_form.last_name }}</p>
                <p>Город проживания - {{ profile_form.city }}</p>
                <p>Номер телефона - {{ profile_form.phone_number }}</p>
            {% endif %}

            <button type="submit">Сохранить</button>
        </form>

    <form method="get" action='/profile_list'>
        {% csrf_token %}
        <button type="submit">Выйти</button>
    </form>
</body>
</html>
