<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Новости</title>
</head>

<body>
    <h2>{{object.name_news}}</h2>

    <p>
        {{object.content_news}}<br>
        Автор: {{object.author_news}} {{object.author_news.publication}}
    </p>
    <p>
        Cтатус: {{object.status}}<br>
        Дата создания: {{object.created_news}}<br>
        Дата редактирования: {{object.update_news}}<br>
        Количество просмотров: {{object.views_count}}

    </p>
        <p>Комментарий</p>
        {% for comment in object.сomment_news.all %}
        Комментарий к новости: {{comment.body}}<br>
        {% endfor %}

        <form method="post" action="{{messages.id}}">
            {% csrf_token %}
            {{ form.as_p }}<br>
            <button type="submit">Добавить</button>
        </form>
</body>
</html>
